In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
test = pd.read_csv('/content/drive/MyDrive/Final hackathon/Test.csv')
test.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616
1,RIC_EWR_87213,2005,11,14,1,1300,1415,75,RIC,EWR,278
2,IAD_GSO_86576,2005,9,28,3,1040,1144,64,IAD,GSO,239
3,SAV_CVG_87264,2005,11,18,5,1120,1302,102,SAV,CVG,515
4,SBP_LAX_68158,2005,7,5,2,630,733,63,SBP,LAX,155

In [5]:
flight_test = test.copy()

In [6]:
#test1 = flight_test[columns]
print(test.shape)

(6566, 11)

In [7]:
test.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616
1,RIC_EWR_87213,2005,11,14,1,1300,1415,75,RIC,EWR,278
2,IAD_GSO_86576,2005,9,28,3,1040,1144,64,IAD,GSO,239
3,SAV_CVG_87264,2005,11,18,5,1120,1302,102,SAV,CVG,515
4,SBP_LAX_68158,2005,7,5,2,630,733,63,SBP,LAX,155

In [8]:
station = pd.read_csv('/content/drive/MyDrive/Final hackathon/AllStationsData_PHD.txt', sep = '|')
print(station.shape)
station.head()

(1744, 8)

,WeatherStationID,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,3011,TEX,0,0,0,37.57,-107.55,+7
1,3012,SKX,0,0,0,36.28,-105.40,+7
2,3013,LAA,3683,3703,3675,38.04,-102.41,+7
3,3014,4SL,0,6909,0,35.47,-107.14,+7
4,3016,RIL,5503,5544,5506,39.32,-107.44,+7

In [16]:
testorigin = pd.merge(test, station, left_on = 'Origin', right_on = 'AirportID')
print(testorigin.shape)
testorigin.head()

(6566, 19)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616,3017,DEN,5379,5431,5382,39.5,-104.4,+7
1,DEN_SAT_82515,2005,9,6,2,855,1157,122,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7
2,DEN_ICT_94174,2005,7,23,6,1556,1817,81,DEN,ICT,419,3017,DEN,5379,5431,5382,39.5,-104.4,+7
3,DEN_SAT_78504,2005,9,4,7,1230,1529,119,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7
4,DEN_PHL_82820,2005,3,23,3,1405,1925,200,DEN,PHL,1557,3017,DEN,5379,5431,5382,39.5,-104.4,+7

In [17]:
testdestination = pd.merge(test, station, left_on = 'Destination', right_on = 'AirportID')
print(testdestination.shape)
testdestination.head()

(6566, 19)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616,53922,XNA,1269,1319,1272,36.17,-94.19,+6
1,ORD_XNA_65795,2005,9,30,5,800,948,108,ORD,XNA,522,53922,XNA,1269,1319,1272,36.17,-94.19,+6
2,ORD_XNA_98655,2005,11,11,5,800,947,107,ORD,XNA,522,53922,XNA,1269,1319,1272,36.17,-94.19,+6
3,DFW_XNA_75074,2005,11,8,2,1219,1327,68,DFW,XNA,281,53922,XNA,1269,1319,1272,36.17,-94.19,+6
4,ATL_XNA_81150,2005,3,1,2,708,758,110,ATL,XNA,589,53922,XNA,1269,1319,1272,36.17,-94.19,+6

In [18]:
testorigin.rename(columns = {'WeatherStationID':'WeatherStationID_Origin'}, inplace = True)
testorigin.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616,3017,DEN,5379,5431,5382,39.5,-104.4,+7
1,DEN_SAT_82515,2005,9,6,2,855,1157,122,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7
2,DEN_ICT_94174,2005,7,23,6,1556,1817,81,DEN,ICT,419,3017,DEN,5379,5431,5382,39.5,-104.4,+7
3,DEN_SAT_78504,2005,9,4,7,1230,1529,119,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7
4,DEN_PHL_82820,2005,3,23,3,1405,1925,200,DEN,PHL,1557,3017,DEN,5379,5431,5382,39.5,-104.4,+7

In [19]:
testdestination.rename(columns = {'WeatherStationID':'WeatherStationID_Destination'}, inplace = True)
testdestination.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Destination,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616,53922,XNA,1269,1319,1272,36.17,-94.19,+6
1,ORD_XNA_65795,2005,9,30,5,800,948,108,ORD,XNA,522,53922,XNA,1269,1319,1272,36.17,-94.19,+6
2,ORD_XNA_98655,2005,11,11,5,800,947,107,ORD,XNA,522,53922,XNA,1269,1319,1272,36.17,-94.19,+6
3,DFW_XNA_75074,2005,11,8,2,1219,1327,68,DFW,XNA,281,53922,XNA,1269,1319,1272,36.17,-94.19,+6
4,ATL_XNA_81150,2005,3,1,2,708,758,110,ATL,XNA,589,53922,XNA,1269,1319,1272,36.17,-94.19,+6

In [22]:
cols = ['FlightNumber', 'WeatherStationID_Destination', 'GroundHeight','StationHeight','BarometerHeight','Latitude','Longitude','TimeZone']
Dest_data = testdestination[cols]
Dest_data.head()

,FlightNumber,WeatherStationID_Destination,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone
0,DEN_XNA_62349,53922,1269,1319,1272,36.17,-94.19,+6
1,ORD_XNA_65795,53922,1269,1319,1272,36.17,-94.19,+6
2,ORD_XNA_98655,53922,1269,1319,1272,36.17,-94.19,+6
3,DFW_XNA_75074,53922,1269,1319,1272,36.17,-94.19,+6
4,ATL_XNA_81150,53922,1269,1319,1272,36.17,-94.19,+6

In [23]:
test_data = pd.merge(testorigin, Dest_data ,on = 'FlightNumber' )
print(test_data.shape)
test_data.head()

(6566, 26)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y
0,DEN_XNA_62349,2005,9,12,1,1516,1756,100,DEN,XNA,616,3017,DEN,5379,5431,5382,39.5,-104.4,+7,53922,1269,1319,1272,36.17,-94.19,+6
1,DEN_SAT_82515,2005,9,6,2,855,1157,122,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6
2,DEN_ICT_94174,2005,7,23,6,1556,1817,81,DEN,ICT,419,3017,DEN,5379,5431,5382,39.5,-104.4,+7,3928,1338,1340,1341,37.39,-97.26,+6
3,DEN_SAT_78504,2005,9,4,7,1230,1529,119,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6
4,DEN_PHL_82820,2005,3,23,3,1405,1925,200,DEN,PHL,1557,3017,DEN,5379,5431,5382,39.5,-104.4,+7,13739,59,28,62,39.52,-75.14,+5

In [24]:
test_data = test_data.reindex(columns = ['FlightNumber', 'Year', 'Month', 'DayofMonth', 'DayOfWeek',
       'ScheduledDepTime', 'ScheduledArrTime', 'ScheduledTravelTime', 'Origin',
       'Destination', 'Distance',
       'WeatherStationID_Origin', 'WeatherStationID_Destination',
       'GroundHeight', 'StationHeight', 'BarometerHeight', 'Latitude',
       'Longitude', 'TimeZone'])
print(test_data.shape)
test_data.head()

In [25]:
test_data['Month'] = test_data['Month'].astype(str)
test_data['DayofMonth'] = test_data['DayofMonth'].astype(str)

test_data['Month'] = test_data['Month'].str.zfill(2)
test_data['DayofMonth'] = test_data['DayofMonth'].str.zfill(2)
test_data.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y
0,DEN_XNA_62349,2005,09,12,1,1516,1756,100,DEN,XNA,616,3017,DEN,5379,5431,5382,39.5,-104.4,+7,53922,1269,1319,1272,36.17,-94.19,+6
1,DEN_SAT_82515,2005,09,06,2,855,1157,122,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6
2,DEN_ICT_94174,2005,07,23,6,1556,1817,81,DEN,ICT,419,3017,DEN,5379,5431,5382,39.5,-104.4,+7,3928,1338,1340,1341,37.39,-97.26,+6
3,DEN_SAT_78504,2005,09,04,7,1230,1529,119,DEN,SAT,794,3017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6
4,DEN_PHL_82820,2005,03,23,3,1405,1925,200,DEN,PHL,1557,3017,DEN,5379,5431,5382,39.5,-104.4,+7,13739,59,28,62,39.52,-75.14,+5

In [26]:
#trainorigin.groupby('Month').head(10000).sort_values('Month')

In [27]:
test_data['Year'] = test_data['Year'].astype(str)

In [28]:
test_data['TestMonyhDay'] = test_data['Month']+test_data['DayofMonth']

trainschdeptime = trainorigin['ScheduledDepTime'].values

trainSchdep_time_range = []
for time in trainschdeptime:
    if   0<time<2400:
        trainSchdep_time_range.append(1200)
trainorigin['Scheddepar_Time_Range'] = trainSchdep_time_range
trainorigin.head()

print(set(trainSchdep_time_range)), print(len(trainSchdep_time_range))

In [29]:
test_data['WeatherStationID_Origin'] = test_data['WeatherStationID_Origin'].astype(str)
test_data['WeatherStationID_Origin'] = test_data['WeatherStationID_Origin'].str.zfill(5)
test_data['WeatherStationID_Destination'] = test_data['WeatherStationID_Destination'].astype(str)
test_data['WeatherStationID_Destination'] = test_data['WeatherStationID_Destination'].str.zfill(5)

test_data['ScheduledDepTime'] = test_data['ScheduledDepTime'].astype(str)
test_data['ScheduledDepTime'] = test_data['ScheduledDepTime'].str.zfill(4)

test_data['ScheduledArrTime'] = test_data['ScheduledArrTime'].astype(str)
test_data['ScheduledArrTime'] = test_data['ScheduledArrTime'].str.zfill(4)

test_data['DayOfWeek'] = test_data['DayOfWeek'].astype(str)

In [30]:
test_data['Origin_NewWeatherStaID'] = test_data['WeatherStationID_Origin'] + test_data['TestMonyhDay'] + test_data['ScheduledDepTime']
test_data['Destination_NewWeatherStaID'] = test_data['WeatherStationID_Destination'] + test_data['TestMonyhDay'] + test_data['ScheduledArrTime']

In [31]:
#train01 = train_data[train_data['Month'] == '01']
#train03 = train_data[train_data['Month'] == '03']
#train05 = trainorigin[trainorigin['Month'] == '05']
#train07 = train_data[train_data['Month'] == '07']
#train09 = trainorigin[trainorigin['Month'] == '09']
#train11 = trainorigin[trainorigin['Month'] == '11']

In [32]:
weather3 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200503hourly.txt')
weather7 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200507hourly.txt')
weather9 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200509hourly.txt')
weather11 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200511hourly.txt')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
precipitation3 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200503hpd.txt')
precipitation7 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200507hpd.txt')
precipitation9 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200509hpd.txt')
precipitation11 = pd.read_csv('/content/drive/MyDrive/Final hackathon/200511hpd.txt')

In [34]:
weather = pd.concat ([weather3, weather7, weather9, weather11], axis = 0)

In [35]:
precipitation = pd.concat([precipitation3, precipitation7, precipitation9, precipitation11], axis = 0)

In [36]:
precipitation.shape, weather.shape, test_data.shape

((4410021, 4), (5031729, 12), (6566, 29))

In [38]:
weather1 = weather.copy()

In [39]:
print(test_data.shape)
test_data.head()

(6566, 29)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y,TestMonyhDay,Origin_NewWeatherStaID,Destination_NewWeatherStaID
0,DEN_XNA_62349,2005,09,12,1,1516,1756,100,DEN,XNA,616,03017,DEN,5379,5431,5382,39.5,-104.4,+7,53922,1269,1319,1272,36.17,-94.19,+6,0912,0301709121516,5392209121756
1,DEN_SAT_82515,2005,09,06,2,0855,1157,122,DEN,SAT,794,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6,0906,0301709060855,1292109061157
2,DEN_ICT_94174,2005,07,23,6,1556,1817,81,DEN,ICT,419,03017,DEN,5379,5431,5382,39.5,-104.4,+7,03928,1338,1340,1341,37.39,-97.26,+6,0723,0301707231556,0392807231817
3,DEN_SAT_78504,2005,09,04,7,1230,1529,119,DEN,SAT,794,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12921,818,809,821,29.32,-98.28,+6,0904,0301709041230,1292109041529
4,DEN_PHL_82820,2005,03,23,3,1405,1925,200,DEN,PHL,1557,03017,DEN,5379,5431,5382,39.5,-104.4,+7,13739,59,28,62,39.52,-75.14,+5,0323,0301703231405,1373903231925

train1 = train01[train01['FlightDelayStatus'] == 1]
print(train1.shape)
col = ['ScheduledDepTime','ScheduledArrTime','Origin','Destination','WeatherStationID_Origin','WeatherStationID_Destination','ScheDepar_time_range', 'ScheArrival_time_range' ]
train1[col]

train2 = train01[train01['FlightDelayStatus'] == 2]
print(train2.shape)
train2[col]

In [44]:
origin_data = test_data.groupby('Origin_NewWeatherStaID').head().sort_values('Origin_NewWeatherStaID').reset_index()
origin_data.drop('index', axis = 1, inplace = True)
print(origin_data.shape)
origin_data.head()

(6566, 29)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y,TestMonyhDay,Origin_NewWeatherStaID,Destination_NewWeatherStaID
0,DEN_ORD_85794,2005,03,01,2,0824,1144,140,DEN,ORD,888,03017,DEN,5379,5431,5382,39.5,-104.4,+7,94846,655,674,658,41.59,-87.55,+6,0301,0301703010824,9484603011144
1,DEN_EUG_96414,2005,03,02,3,1120,1302,162,DEN,EUG,997,03017,DEN,5379,5431,5382,39.5,-104.4,+7,24221,360,373,363,44.08,-123.13,+8,0302,0301703021120,2422103021302
2,DEN_MIA_83933,2005,03,03,4,1005,1548,223,DEN,MIA,1709,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12839,26,30,29,25.49,-80.18,+5,0303,0301703031005,1283903031548
3,DEN_SAN_57400,2005,03,03,4,1115,1229,134,DEN,SAN,853,03017,DEN,5379,5431,5382,39.5,-104.4,+7,23188,78,28,81,32.44,-117.10,+8,0303,0301703031115,2318803031229
4,DEN_MSP_93389,2005,03,04,5,0855,1150,115,DEN,MSP,680,03017,DEN,5379,5431,5382,39.5,-104.4,+7,14922,871,838,874,44.53,-93.14,+6,0304,0301703040855,1492203041150

In [45]:
col = ['FlightNumber','Destination_NewWeatherStaID','ScheduledArrTime' ]
Dest_test_data1 =test_data[col]
Dest_test_data1.head()

    FlightNumber Destination_NewWeatherStaID ScheduledArrTime
0  DEN_ORD_85794               9484603011144             1144
1  DEN_EUG_96414               2422103021302             1302
2  DEN_MIA_83933               1283903031548             1548
3  DEN_SAN_57400               2318803031229             1229
4  DEN_MSP_93389               1492203041150             1150

In [46]:
destination_data = Dest_test_data1.groupby('Destination_NewWeatherStaID').head().sort_values('Destination_NewWeatherStaID').reset_index()

destination_data.drop('index', axis = 1, inplace = True)
print(destination_data.shape)
destination_data.head()

(6566, 3)

     FlightNumber Destination_NewWeatherStaID ScheduledArrTime
0   PSC_DEN_95192               0301703011710             1710
1   MSY_DEN_85391               0301703021924             1924
2  PDX_DEN_101273               0301703031120             1120
3  EWR_DEN_102876               0301703031616             1616
4   ATL_DEN_63829               0301703051257             1257

trainorigin[(trainorigin['Month'] == '09')|(trainorigin['Month'] == '07')&(trainorigin['DayOfWeek'] == '1')]

In [47]:
weather1.dtypes

WeatherStationID             int64
YearMonthDay                 int64
Time                         int64
SkyConditions               object
Visibility                  object
DBT                        float64
DewPointTemp               float64
RelativeHumidityPercent    float64
WindSpeed                   object
WindDirection               object
WindGustValue              float64
StationPressure            float64
dtype: object

In [48]:
weather1['WindSpeed'].unique()

array([6.0, 14.0, 19.0, 5.0, 9.0, 0.0, 4.0, 8.0, 3.0, 10.0, 18.0, 16.0,
       11.0, 12.0, 15.0, 17.0, 13.0, 7.0, 21.0, 23.0, 22.0, 20.0, nan,
       26.0, 24.0, 31.0, 1.0, 2.0, 27.0, 80.0, 28.0, 30.0, 25.0, 34.0,
       32.0, 29.0, 37.0, 33.0, 38.0, 40.0, 35.0, 42.0, 36.0, 47.0, 49.0,
       57.0, 41.0, 61.0, 66.0, 63.0, 59.0, 50.0, 53.0, 58.0, 39.0, 62.0,
       54.0, 56.0, 46.0, 52.0, 60.0, 55.0, 64.0, 48.0, 44.0, 43.0, 68.0,
       '10', '6', '0', '5', '4', '3', '8', '13', '7', '11', '9', '16',
       '14', '12', '21', '17', '19', '22', '18', '15', '25', '20', '24',
       '26', '23', '29', '27', '49', '38', '28', '2', '30', '37', '31',
       '34', '40', '33', '35', '32', '36', '41', '1', '39', '44', '50',
       '42', '43', '60', '63', '73', '/1', '/0', '83', '85', '75', '80',
       '65', '77', '76', '70', 85.0, 82.0, 77.0, 81.0, 93.0, 87.0, 83.0,
       45.0, -1.0, 51.0, '47', '45', '46', 88.0, 70.0, 97.0, '.', 65.0,
       76.0, 74.0, 71.0, 67.0, 72.0, 90.0, 78.0, 75.0, 73.0, '78', '67',
       '54', '58', '53', '48', '52', '59', '55', '61', '64', '62', '56',
       '72', '71', 69.0, 96.0], dtype=object)

c = weather1['WindSpeed'].value_counts()
c.loc['/0']

In [49]:
c = weather1['WindSpeed'].value_counts()
c.loc['.']

1

In [50]:
weather1[(weather1['WindSpeed'] == '/0') | (weather1['WindSpeed'] == '/1')  | (weather1['WindSpeed'] == '/2') ].head()

,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure
298732,3866,20050308,455,SKC,7SM,46.0,37.0,71.0,/1,320,0.0,29.55
303466,3866,20050308,655,FEW025 SCT200,7SM,45.0,36.0,71.0,/0,350,20.0,29.60
169161,53141,20050705,1355,SKC,7SM,NaN,NaN,NaN,/0,210,0.0,29.92
802621,41606,20050720,1255,FEW019 FEW028,NaN,NaN,NaN,NaN,/1,170,0.0,NaN
287238,4808,20050908,1653,OVC150,6SM,77.0,64.0,64.0,/0,050,0.0,29.29

In [51]:
weather1.WindSpeed.replace(['/0', '/1', '/2', '.'], ['0', '1', '2', '0'], inplace=True)

In [52]:
weather1['WindSpeed'] = weather1['WindSpeed'].astype(str).astype(float)

In [53]:
weather1['YearMonthDay'] = weather1['YearMonthDay'].astype(str)

weatherMD = weather_data['YearMonthDay'].values
c = weatherMD[1]
print(c)
c[4:]

In [54]:
weatherMD = weather1['YearMonthDay'].values
whe_Month_day = []
for vals in weatherMD :
    md = vals[4:]
    whe_Month_day.append(md)
    
weather1['Weather_MonthDay'] = whe_Month_day
weather1.head()

,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure,Weather_MonthDay
0,4843,20050301,10,FEW008 SCT012 OVC026,1.75SM,NaN,NaN,NaN,6.0,VRB,0.0,NaN,0301
1,13874,20050301,10,SCT023 BKN030,10SM,NaN,NaN,NaN,14.0,310,0.0,NaN,0301
2,14765,20050301,10,FEW007 SCT010 OVC015,2SM,NaN,NaN,NaN,19.0,030,26.0,NaN,0301
3,14777,20050301,10,OVC011,2.5SM,NaN,NaN,NaN,5.0,040,0.0,NaN,0301
4,14819,20050301,10,FEW015 OVC060,2SM,NaN,NaN,NaN,9.0,310,0.0,NaN,0301

In [55]:
weather1['WeatherStationID'] = weather1['WeatherStationID'].astype(str)
weather1['WeatherStationID'] = weather1['WeatherStationID'].str.zfill(5)
weather1['Time'] = weather1['Time'].astype(str)
weather1['Time'] = weather1['Time'].str.zfill(4)

weather1['New_WeatherStationID'] = weather1['WeatherStationID'] + weather1['Weather_MonthDay'] + weather1['Time']

In [56]:
weather1.head()

,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure,Weather_MonthDay,New_WeatherStationID
0,04843,20050301,0010,FEW008 SCT012 OVC026,1.75SM,NaN,NaN,NaN,6.0,VRB,0.0,NaN,0301,0484303010010
1,13874,20050301,0010,SCT023 BKN030,10SM,NaN,NaN,NaN,14.0,310,0.0,NaN,0301,1387403010010
2,14765,20050301,0010,FEW007 SCT010 OVC015,2SM,NaN,NaN,NaN,19.0,030,26.0,NaN,0301,1476503010010
3,14777,20050301,0010,OVC011,2.5SM,NaN,NaN,NaN,5.0,040,0.0,NaN,0301,1477703010010
4,14819,20050301,0010,FEW015 OVC060,2SM,NaN,NaN,NaN,9.0,310,0.0,NaN,0301,1481903010010

In [57]:
weather_data1 = weather1.groupby('New_WeatherStationID').head().sort_values('New_WeatherStationID').reset_index()
weather_data1.drop('index', axis = 1, inplace = True)
print(weather_data1.shape)

weather_data1.head()

(5031729, 14)

,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure,Weather_MonthDay,New_WeatherStationID
0,03011,20050301,0049,BKN028 OVC037,9SM,NaN,NaN,NaN,4.0,280,0.0,30.04,0301,0301103010049
1,03011,20050301,0149,BKN005 OVC013,1.5SM,25.0,21.0,85.0,0.0,000,0.0,30.05,0301,0301103010149
2,03011,20050301,0209,BKN004 OVC013,1.75SM,NaN,NaN,NaN,4.0,130,0.0,30.04,0301,0301103010209
3,03011,20050301,0229,BKN010 OVC017,3SM,NaN,NaN,NaN,NaN,NaN,NaN,30.02,0301,0301103010229
4,03011,20050301,0249,BKN008 BKN017 OVC048,2.5SM,NaN,NaN,NaN,4.0,140,0.0,30.02,0301,0301103010249

In [58]:
weather_data1.isnull().sum()

WeatherStationID                 0
YearMonthDay                     0
Time                             0
SkyConditions               134081
Visibility                  123115
DBT                        1099802
DewPointTemp               1112107
RelativeHumidityPercent    1115678
WindSpeed                    32534
WindDirection                32590
WindGustValue                41952
StationPressure             629885
Weather_MonthDay                 0
New_WeatherStationID             0
dtype: int64

In [59]:
weather_data1['SkyConditions']= weather_data1['SkyConditions'].fillna(method ='ffill')

In [60]:
weather_data1['Visibility']= weather_data1['Visibility'].fillna(method ='ffill')

In [61]:
weather_data1['DBT']= weather_data1['DBT'].fillna(method ='ffill')

In [62]:
weather_data1['DewPointTemp']= weather_data1['DewPointTemp'].fillna(method ='ffill')

In [63]:
weather_data1['RelativeHumidityPercent']= weather_data1['RelativeHumidityPercent'].fillna(method ='ffill')

In [64]:
weather_data1['WindSpeed']= weather_data1['WindSpeed'].fillna(method ='ffill')

In [65]:
weather_data1['WindDirection']= weather_data1['WindDirection'].fillna(method ='ffill')

In [66]:
weather_data1['WindGustValue']= weather_data1['WindGustValue'].fillna(method ='ffill')

In [67]:
weather_data1['StationPressure']= weather_data1['StationPressure'].fillna(method ='ffill')

In [68]:
a = weather_data1.isnull().sum()
a[a>0]

DBT                        1
DewPointTemp               1
RelativeHumidityPercent    1
dtype: int64

In [70]:
origin_data['Origin_NewWeatherStaID'] = origin_data['Origin_NewWeatherStaID'] .astype(str).astype(int)
weather_data1['New_WeatherStationID'] = weather_data1['New_WeatherStationID'] .astype(str).astype(int)

In [72]:
test_origin  =  pd.merge_asof(origin_data, weather_data1, left_on='Origin_NewWeatherStaID',right_on = 'New_WeatherStationID', direction = 'nearest')

In [73]:
test_origin.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y,TestMonyhDay,Origin_NewWeatherStaID,Destination_NewWeatherStaID,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure,Weather_MonthDay,New_WeatherStationID
0,DEN_ORD_85794,2005,03,01,2,0824,1144,140,DEN,ORD,888,03017,DEN,5379,5431,5382,39.5,-104.4,+7,94846,655,674,658,41.59,-87.55,+6,0301,301703010824,9484603011144,03017,20050301,0853,FEW090 SCT140 BKN250,10SM,43.0,14.0,31.0,7.0,240,0.0,24.57,0301,301703010853
1,DEN_EUG_96414,2005,03,02,3,1120,1302,162,DEN,EUG,997,03017,DEN,5379,5431,5382,39.5,-104.4,+7,24221,360,373,363,44.08,-123.13,+8,0302,301703021120,2422103021302,03017,20050302,1153,FEW065,10SM,50.0,13.0,23.0,9.0,340,15.0,24.62,0302,301703021153
2,DEN_MIA_83933,2005,03,03,4,1005,1548,223,DEN,MIA,1709,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12839,26,30,29,25.49,-80.18,+5,0303,301703031005,1283903031548,03017,20050303,1053,FEW065 SCT200,10SM,50.0,10.0,20.0,6.0,320,0.0,24.64,0303,301703031053
3,DEN_SAN_57400,2005,03,03,4,1115,1229,134,DEN,SAN,853,03017,DEN,5379,5431,5382,39.5,-104.4,+7,23188,78,28,81,32.44,-117.10,+8,0303,301703031115,2318803031229,03017,20050303,1153,FEW065 SCT200,10SM,52.0,8.0,17.0,4.0,340,0.0,24.63,0303,301703031153
4,DEN_MSP_93389,2005,03,04,5,0855,1150,115,DEN,MSP,680,03017,DEN,5379,5431,5382,39.5,-104.4,+7,14922,871,838,874,44.53,-93.14,+6,0304,301703040855,1492203041150,03017,20050304,0853,FEW070 SCT130,10SM,47.0,9.0,21.0,10.0,240,0.0,24.67,0304,301703040853

In [74]:
destination_data['Destination_NewWeatherStaID'] = destination_data['Destination_NewWeatherStaID'].astype(str).astype(int)

In [75]:
test_dest  =  pd.merge_asof(destination_data, weather_data1, left_on='Destination_NewWeatherStaID',right_on = 'New_WeatherStationID', direction = 'nearest')

In [76]:
test_dest.head()

,FlightNumber,Destination_NewWeatherStaID,ScheduledArrTime,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure,Weather_MonthDay,New_WeatherStationID
0,PSC_DEN_95192,301703011710,1710,03017,20050301,1753,FEW050 BKN080 BKN100 OVC130,10SM,43.0,22.0,43.0,8.0,020,0.0,24.53,0301,301703011753
1,MSY_DEN_85391,301703021924,1924,03017,20050302,1953,FEW130,10SM,40.0,8.0,27.0,5.0,130,0.0,24.61,0302,301703021953
2,PDX_DEN_101273,301703031120,1120,03017,20050303,1153,FEW065 SCT200,10SM,52.0,8.0,17.0,4.0,340,0.0,24.63,0303,301703031153
3,EWR_DEN_102876,301703031616,1616,03017,20050303,1653,FEW080 SCT150 SCT220,10SM,54.0,6.0,14.0,4.0,VRB,0.0,24.60,0303,301703031653
4,ATL_DEN_63829,301703051257,1257,03017,20050305,1253,SCT100 BKN220,10SM,61.0,15.0,17.0,7.0,080,0.0,24.67,0305,301703051253

In [77]:
test_full = pd.merge(test_origin,test_dest , on = 'FlightNumber' )

In [78]:
print(test_full.shape)
test_full.head()

(6566, 59)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime_x,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y,TestMonyhDay,Origin_NewWeatherStaID,Destination_NewWeatherStaID_x,WeatherStationID_x,YearMonthDay_x,Time_x,SkyConditions_x,Visibility_x,DBT_x,DewPointTemp_x,RelativeHumidityPercent_x,WindSpeed_x,WindDirection_x,WindGustValue_x,StationPressure_x,Weather_MonthDay_x,New_WeatherStationID_x,Destination_NewWeatherStaID_y,ScheduledArrTime_y,WeatherStationID_y,YearMonthDay_y,Time_y,SkyConditions_y,Visibility_y,DBT_y,DewPointTemp_y,RelativeHumidityPercent_y,WindSpeed_y,WindDirection_y,WindGustValue_y,StationPressure_y,Weather_MonthDay_y,New_WeatherStationID_y
0,DEN_ORD_85794,2005,03,01,2,0824,1144,140,DEN,ORD,888,03017,DEN,5379,5431,5382,39.5,-104.4,+7,94846,655,674,658,41.59,-87.55,+6,0301,301703010824,9484603011144,03017,20050301,0853,FEW090 SCT140 BKN250,10SM,43.0,14.0,31.0,7.0,240,0.0,24.57,0301,301703010853,9484603011144,1144,94846,20050301,1156,SCT033 BKN300,10SM,25.0,12.0,58.0,15.0,320,30.0,29.12,0301,9484603011156
1,DEN_EUG_96414,2005,03,02,3,1120,1302,162,DEN,EUG,997,03017,DEN,5379,5431,5382,39.5,-104.4,+7,24221,360,373,363,44.08,-123.13,+8,0302,301703021120,2422103021302,03017,20050302,1153,FEW065,10SM,50.0,13.0,23.0,9.0,340,15.0,24.62,0302,301703021153,2422103021302,1302,24221,20050302,1254,FEW037 OVC060,10SM,58.0,43.0,58.0,8.0,190,0.0,29.71,0302,2422103021254
2,DEN_MIA_83933,2005,03,03,4,1005,1548,223,DEN,MIA,1709,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12839,26,30,29,25.49,-80.18,+5,0303,301703031005,1283903031548,03017,20050303,1053,FEW065 SCT200,10SM,50.0,10.0,20.0,6.0,320,0.0,24.64,0303,301703031053,1283903031548,1548,12839,20050303,1553,BKN095 OVC200,10SM,67.0,52.0,59.0,8.0,050,0.0,29.98,0303,1283903031553
3,DEN_SAN_57400,2005,03,03,4,1115,1229,134,DEN,SAN,853,03017,DEN,5379,5431,5382,39.5,-104.4,+7,23188,78,28,81,32.44,-117.10,+8,0303,301703031115,2318803031229,03017,20050303,1153,FEW065 SCT200,10SM,52.0,8.0,17.0,4.0,340,0.0,24.63,0303,301703031153,2318803031229,1229,23188,20050303,1251,FEW040 BKN250,10SM,63.0,45.0,52.0,8.0,230,0.0,30.05,0303,2318803031251
4,DEN_MSP_93389,2005,03,04,5,0855,1150,115,DEN,MSP,680,03017,DEN,5379,5431,5382,39.5,-104.4,+7,14922,871,838,874,44.53,-93.14,+6,0304,301703040855,1492203041150,03017,20050304,0853,FEW070 SCT130,10SM,47.0,9.0,21.0,10.0,240,0.0,24.67,0304,301703040853,1492203041150,1150,14922,20050304,1153,BKN060 BKN090 BKN150,9SM,41.0,29.0,62.0,14.0,320,0.0,28.84,0304,1492203041153

In [79]:
test_full.to_csv('TEST AND WEATHER DATA')

In [80]:
print(precipitation.shape)
precipitation.head()

(4410021, 4)

   WeatherStationID  YearMonthDay  Time  HourlyPrecip
0             27401      20050301    15           0.0
1             24201      20050301    17           0.0
2             13944      20050301    30           0.0
3             14704      20050301    34           0.0
4             27401      20050301    35           0.0

In [81]:
precipitation['YearMonthDay'] =  precipitation['YearMonthDay'].astype(str)
precipitation['WeatherStationID'] =  precipitation['WeatherStationID'].astype(str)
precipitation['WeatherStationID'] = precipitation['WeatherStationID'].str.zfill(5)
precipitation['Time'] =  precipitation['Time'].astype(str)
precipitation['Time'] = precipitation['Time'].str.zfill(4)

In [82]:
prepmd = precipitation['YearMonthDay'].values
prep_monthday = []
for values in prepmd :
    pmd = values[4:]
    prep_monthday.append(pmd)

precipitation['Prept_MonthDay'] = prep_monthday

In [83]:
precipitation.dtypes

WeatherStationID     object
YearMonthDay         object
Time                 object
HourlyPrecip        float64
Prept_MonthDay       object
dtype: object

In [84]:
precipitation['Prept_New_Weatherstat_ID'] = precipitation['WeatherStationID'] + precipitation['Prept_MonthDay']+precipitation['Time']
print(precipitation.shape)
precipitation.head()

(4410021, 6)

,WeatherStationID,YearMonthDay,Time,HourlyPrecip,Prept_MonthDay,Prept_New_Weatherstat_ID
0,27401,20050301,0015,0.0,0301,2740103010015
1,24201,20050301,0017,0.0,0301,2420103010017
2,13944,20050301,0030,0.0,0301,1394403010030
3,14704,20050301,0034,0.0,0301,1470403010034
4,27401,20050301,0035,0.0,0301,2740103010035

In [85]:
precipitation.to_csv('TEST PRECIPITATION DATA')

In [86]:
v = precipitation.isnull().sum()
v[v>0]

HourlyPrecip    143894
dtype: int64

In [87]:
precipitation_data1 = precipitation.groupby('Prept_New_Weatherstat_ID').head().sort_values('Prept_New_Weatherstat_ID').reset_index()
precipitation_data1.drop('index', axis = 1, inplace = True)

In [88]:
precipitation_data1.isnull().sum()

WeatherStationID                 0
YearMonthDay                     0
Time                             0
HourlyPrecip                143894
Prept_MonthDay                   0
Prept_New_Weatherstat_ID         0
dtype: int64

In [89]:
precipitation_data1['HourlyPrecip']= precipitation_data1['HourlyPrecip'].fillna(method ='ffill')

In [90]:
precipitation_data1.isnull().sum()

WeatherStationID            0
YearMonthDay                0
Time                        0
HourlyPrecip                0
Prept_MonthDay              0
Prept_New_Weatherstat_ID    0
dtype: int64

In [91]:
col = ['Prept_New_Weatherstat_ID', 'HourlyPrecip', 'Time' ]
prep_datanew2 = precipitation_data1[col]
prep_datanew2.head()

  Prept_New_Weatherstat_ID  HourlyPrecip  Time
0            0301103010049           0.0  0049
1            0301103010149           0.0  0149
2            0301103010209           0.0  0209
3            0301103010229           0.0  0229
4            0301103010249           0.0  0249

In [92]:
prep_datanew2['Prept_New_Weatherstat_ID'] = prep_datanew2['Prept_New_Weatherstat_ID'].astype(str).astype(int)

<ipython-input-92-5ff8d86743a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prep_datanew2['Prept_New_Weatherstat_ID'] = prep_datanew2['Prept_New_Weatherstat_ID'].astype(str).astype(int)

In [93]:
test_o =  pd.merge_asof(test_full,prep_datanew2, left_on = 'Origin_NewWeatherStaID', right_on = 'Prept_New_Weatherstat_ID', direction = 'nearest')

In [94]:
test_d  =  pd.merge_asof(destination_data, prep_datanew2, left_on='Destination_NewWeatherStaID',right_on = 'Prept_New_Weatherstat_ID', direction = 'nearest')

In [95]:
test_d.head()

,FlightNumber,Destination_NewWeatherStaID,ScheduledArrTime,Prept_New_Weatherstat_ID,HourlyPrecip,Time
0,PSC_DEN_95192,301703011710,1710,301703011753,0.0,1753
1,MSY_DEN_85391,301703021924,1924,301703021953,0.0,1953
2,PDX_DEN_101273,301703031120,1120,301703031153,0.0,1153
3,EWR_DEN_102876,301703031616,1616,301703031653,0.0,1653
4,ATL_DEN_63829,301703051257,1257,301703051253,0.0,1253

In [96]:
full_test = pd.merge(test_o,test_d , on = 'FlightNumber' )

<ipython-input-96-e46f221eb80a>:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Time_x'} in the result is deprecated and will raise a MergeError in a future version.
  full_test = pd.merge(test_o,test_d , on = 'FlightNumber' )

In [97]:
print(full_test.shape)
full_test.head()

(6566, 67)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime_x,ScheduledTravelTime,Origin,Destination,Distance,WeatherStationID_Origin,AirportID,GroundHeight_x,StationHeight_x,BarometerHeight_x,Latitude_x,Longitude_x,TimeZone_x,WeatherStationID_Destination,GroundHeight_y,StationHeight_y,BarometerHeight_y,Latitude_y,Longitude_y,TimeZone_y,TestMonyhDay,Origin_NewWeatherStaID,Destination_NewWeatherStaID_x,WeatherStationID_x,YearMonthDay_x,Time_x,SkyConditions_x,Visibility_x,DBT_x,DewPointTemp_x,RelativeHumidityPercent_x,WindSpeed_x,WindDirection_x,WindGustValue_x,StationPressure_x,Weather_MonthDay_x,New_WeatherStationID_x,Destination_NewWeatherStaID_y,ScheduledArrTime_y,WeatherStationID_y,YearMonthDay_y,Time_y,SkyConditions_y,Visibility_y,DBT_y,DewPointTemp_y,RelativeHumidityPercent_y,WindSpeed_y,WindDirection_y,WindGustValue_y,StationPressure_y,Weather_MonthDay_y,New_WeatherStationID_y,Prept_New_Weatherstat_ID_x,HourlyPrecip_x,Time_x,Destination_NewWeatherStaID,ScheduledArrTime,Prept_New_Weatherstat_ID_y,HourlyPrecip_y,Time_y
0,DEN_ORD_85794,2005,03,01,2,0824,1144,140,DEN,ORD,888,03017,DEN,5379,5431,5382,39.5,-104.4,+7,94846,655,674,658,41.59,-87.55,+6,0301,301703010824,9484603011144,03017,20050301,0853,FEW090 SCT140 BKN250,10SM,43.0,14.0,31.0,7.0,240,0.0,24.57,0301,301703010853,9484603011144,1144,94846,20050301,1156,SCT033 BKN300,10SM,25.0,12.0,58.0,15.0,320,30.0,29.12,0301,9484603011156,301703010853,0.0,0853,9484603011144,1144,9484603011156,0.0,1156
1,DEN_EUG_96414,2005,03,02,3,1120,1302,162,DEN,EUG,997,03017,DEN,5379,5431,5382,39.5,-104.4,+7,24221,360,373,363,44.08,-123.13,+8,0302,301703021120,2422103021302,03017,20050302,1153,FEW065,10SM,50.0,13.0,23.0,9.0,340,15.0,24.62,0302,301703021153,2422103021302,1302,24221,20050302,1254,FEW037 OVC060,10SM,58.0,43.0,58.0,8.0,190,0.0,29.71,0302,2422103021254,301703021153,0.0,1153,2422103021302,1302,2422103021254,0.0,1254
2,DEN_MIA_83933,2005,03,03,4,1005,1548,223,DEN,MIA,1709,03017,DEN,5379,5431,5382,39.5,-104.4,+7,12839,26,30,29,25.49,-80.18,+5,0303,301703031005,1283903031548,03017,20050303,1053,FEW065 SCT200,10SM,50.0,10.0,20.0,6.0,320,0.0,24.64,0303,301703031053,1283903031548,1548,12839,20050303,1553,BKN095 OVC200,10SM,67.0,52.0,59.0,8.0,050,0.0,29.98,0303,1283903031553,301703031053,0.0,1053,1283903031548,1548,1283903031553,0.0,1553
3,DEN_SAN_57400,2005,03,03,4,1115,1229,134,DEN,SAN,853,03017,DEN,5379,5431,5382,39.5,-104.4,+7,23188,78,28,81,32.44,-117.10,+8,0303,301703031115,2318803031229,03017,20050303,1153,FEW065 SCT200,10SM,52.0,8.0,17.0,4.0,340,0.0,24.63,0303,301703031153,2318803031229,1229,23188,20050303,1251,FEW040 BKN250,10SM,63.0,45.0,52.0,8.0,230,0.0,30.05,0303,2318803031251,301703031153,0.0,1153,2318803031229,1229,2318803031251,0.0,1251
4,DEN_MSP_93389,2005,03,04,5,0855,1150,115,DEN,MSP,680,03017,DEN,5379,5431,5382,39.5,-104.4,+7,14922,871,838,874,44.53,-93.14,+6,0304,301703040855,1492203041150,03017,20050304,0853,FEW070 SCT130,10SM,47.0,9.0,21.0,10.0,240,0.0,24.67,0304,301703040853,1492203041150,1150,14922,20050304,1153,BKN060 BKN090 BKN150,9SM,41.0,29.0,62.0,14.0,320,0.0,28.84,0304,1492203041153,301703040853,0.0,0853,1492203041150,1150,1492203041153,0.0,1153

In [98]:
full_test.to_csv('TESTDATA WEATHER PRECIPITATION')

In [99]:
full_test.isnull().sum()

FlightNumber                     0
Year                             0
Month                            0
DayofMonth                       0
DayOfWeek                        0
ScheduledDepTime                 0
ScheduledArrTime_x               0
ScheduledTravelTime              0
Origin                           0
Destination                      0
Distance                         0
WeatherStationID_Origin          0
AirportID                        0
GroundHeight_x                   0
StationHeight_x                  0
BarometerHeight_x                0
Latitude_x                       0
Longitude_x                      0
TimeZone_x                       0
WeatherStationID_Destination     0
GroundHeight_y                   0
StationHeight_y                  0
BarometerHeight_y                0
Latitude_y                       0
Longitude_y                      0
TimeZone_y                       0
TestMonyhDay                     0
Origin_NewWeatherStaID           0
Destination_NewWeatherStaID_x    0
WeatherStationID_x               0
YearMonthDay_x                   0
Time_x                           0
SkyConditions_x                  0
Visibility_x                     0
DBT_x                            0
DewPointTemp_x                   0
RelativeHumidityPercent_x        0
WindSpeed_x                      0
WindDirection_x                  0
WindGustValue_x                  0
StationPressure_x                0
Weather_MonthDay_x               0
New_WeatherStationID_x           0
Destination_NewWeatherStaID_y    0
ScheduledArrTime_y               0
WeatherStationID_y               0
YearMonthDay_y                   0
Time_y                           0
SkyConditions_y                  0
Visibility_y                     0
DBT_y                            0
DewPointTemp_y                   0
RelativeHumidityPercent_y        0
WindSpeed_y                      0
WindDirection_y                  0
WindGustValue_y                  0
StationPressure_y                0
Weather_MonthDay_y               0
New_WeatherStationID_y           0
Prept_New_Weatherstat_ID_x       0
HourlyPrecip_x                   0
Time_x                           0
Destination_NewWeatherStaID      0
ScheduledArrTime                 0
Prept_New_Weatherstat_ID_y       0
HourlyPrecip_y                   0
Time_y                           0
dtype: int64